.container {
  display: flex;
  width: 100vh;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
}

.title {
  text-align: center;
}

.itemsContainer {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 10px 24px; 
  margin-bottom: 20px; 
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.itemDetails {
  display: flex;
}

.image {
  border-radius: 10px;
  object-fit: contain;
  margin-right: 10px;
}

.subTotalContainer {
  padding: 0 40px; 
}

.divider {
  height: 20px;
  width: 100%;
  border-top: 1px solid lightgray;
  margin: 20px 0; 
}

.button{
	height: 40px;
	width: 100%;
	outline: black;
	border:none;
    background-color: #50C878;
	border-radius: 10px;
}
  .subTotalContainer {
    gap: 20px;
    flex-direction: column;
  }
  .subTotalRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

@media (max-width: 600px) {
  .container {
    width: 100vw;
    border: none;
    padding: 5px;
  }

  .itemsContainer {

    height: 40vh; 
    overflow-y: auto;
  }




  .title{
  font-size:15px;
   width: 150px; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
  
}
