.container {
   box-sizing: border-box;
    height: 200px;
    width:  50vw;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;

}
.productContainer{
    display: flex;
    gap : 80px;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
}


.quantity_container {
  display: inline-flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.button{
  height: 30px;
  width: 30px;
  padding: 4px;
  border: 2px solid lightgray;
  border-radius: 6px;
}

.button:hover {
  background-color: lightgray;
}


@media (max-width: 600px) {

.container{
   border:none;
   width:  92vw;
   margin: 10;
padding-right: 20;

  

}
.button{
  height: 14px;
  width: 14px;
}
.title{
  font-size:15px
}
.productContainer{
    gap : 20px;
}

}