.input {
	border: 2px solid lightgray;
	outline: none;
	border-radius: 10px;
	padding: .4em;
	color: black;
	margin-bottom: 4px;
	width: 80vw;
	height: 20px;
}

.formContainer{
	display: flex;
	flex-direction: column;

}

.button{
	height: 40px;
	width: 80vw;
	outline: black;
	border:none;
    background-color: #50C878;
	border-radius: 10px;
}

.error{
	color: #E91E63;
}

